<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652700196095-pc7dtl8ia0mnb1l61qpmk47je2b5kqsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652700196095-pc7dtl8ia0mnb1l61qpmk47je2b5kqsd</string>
	<key>API_KEY</key>
	<string>AIzaSyC0iuymrviFeQpSJmxQnJusyYNPsQl-ufc</string>
	<key>GCM_SENDER_ID</key>
	<string>652700196095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shubhu.Login</string>
	<key>PROJECT_ID</key>
	<string>login-c36bd</string>
	<key>STORAGE_BUCKET</key>
	<string>login-c36bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652700196095:ios:cfda4e663e16980f3440ca</string>
</dict>
</plist>